.intro{
    margin-top: 97px;
    background-image: url(../img/intro-img-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 152px 0;
    margin-bottom: 160px;
    
    &__title{
        width: 500px;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;     
        color: #FFFFFF;
        
    }
    &__text{
        width: 405px;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 40px 40px 40px 95px;
        display: flex;
        align-items: center;
        
        &::before{
            display: inline-block;
            content: ""; 
            background-image: url(../img/intro-line.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 202.5px;
            height: 15px;
            position: absolute;
            left: 0;
        }
        &::after{
            display: inline-block;
            content: ""; 
            background-image: url(../img/intro-strelka.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 450px;
            height: 150px;
            position: absolute;
            right: 250px;
            top: 480px;
        }
    }
    &__btn{
        @extend %btn_gold;
        margin-left: 95px;
    }
}
@media screen and (max-width: 768px) {
    .intro{
        position: static;
        margin-top: 97px;
        background-image: url(../img/intro-img-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 137px 0 237px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
        
        &__title{
            margin: 0 auto;
            width: 573px;
            text-align: center;
            
        }
        &__text{
            width: 573px;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            margin: 24px auto 32px;
            align-items: center;
            text-align: center;
            
            &::before{
                display: none;
            }
            &::after{
                display: none;
            }
        }
        &__btn{
            text-align: center;
            margin-left: 254px;
        }
        &__box{
            &::after{
                display: inline-block;
                content: ""; 
                background-image: url(../img/intro-strelka.svg);
                background-repeat: no-repeat;
                width: 450px;
                height: 150px;
                position: absolute;
                left: -180px;
                top: 580px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .intro{
        // position: static;
        margin-top: 76px;
        background-image: url(../img/intro-img-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 115px 0 179px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__title{
            margin: 0 auto;
            width: 311px;
            text-align: center;
            
        }
        &__text{
            width: 311px;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            margin: 24px auto 32px;
            align-items: center;
            text-align: center;
            
            &::before{
                display: none;
            }
            &::after{
                display: none;
            }
        }
        &__btn{
            text-align: center;
            // @extend %btn_gold;
            margin-left: 66px;
        }
        &__box{
            &::after{
                display: inline-block;
                content: ""; 
                background-image: url(../img/intro-strelka.svg);
                background-repeat: no-repeat;
                width: 450px;
                height: 150px;
                position: absolute;
                left: -300px;
                top: 650px;
            }
        }
    }
}